@import "../styles/app/colors.scss";
@import "../styles/app/breakpoints.scss";

.menu{
  
  nav{

    ul{
      display: flex;
      gap: 32px;

      @media (max-width: $md) {
        gap: 10px;
      }

    }
  }

  &-link {
    text-decoration: none;
    color: $dark-grey-blue;
  
    &:hover {
      color: black;
    }
  
    &.selected {
      color: black;
    }
  
    &.active {
      color: black;
    }
  }
}

.menu-toogle{
  width: 100%;
  position: absolute;
  top: 110px;
  left: 0;
  z-index: 3;
  padding-bottom: 100px;
  background: linear-gradient(to bottom, $light-cream 0%, $light-cream 40%, transparent 100%);

  ul{
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;

    a {
      text-decoration: none;
      color: $dark-grey-blue;
      font-size: 18px;
    
      &:hover {
        color: black;
      }
    
      &.selected {
        color: black;
      }
    
      &.active {
        color: black;
      }
    }
  }
}
