@import "../styles/app/colors.scss";
@import "../styles/app/breakpoints.scss";

.home{
  display: flex;
  flex-direction: column;
  gap: 200px;
  margin-bottom: 200px;
  
  @media (max-width: $md) {
    gap: 100px;
    margin-bottom: 100px;
  }
  
  &-steps{
    display: flex;
    flex-direction: column;
    gap: 62px;

    @media (max-width: $md) {
      gap: 31px;
    }

    @media (max-width: $md) {
      padding: 0 20px;
    }
    
    &-title{
      margin-bottom: 18px;
      color: $grey;

      @media (max-width: $md) {
        margin-bottom: 10px;
      }
    }
  }
}
