@import "breakpoints.scss";

.main-container {
  width: 100%;
  padding: 0 80px;

  @media (max-width: $lg) {
    padding: 0 40px;
  }

  @media (max-width: $sm) {
    padding: 0 24px;
  }
}

.hidden{
  display: none;
}
