@import "breakpoints.scss";
@import "colors.scss";

body{
  background-color: $light-cream;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 80px;

  @media (max-width: $lg) {
    padding: 0 40px;
  }

  @media (max-width: $sm) {
    padding: 0 24px;
  }
}

.hidden{
  display: none;
}

.hidden-at-sm{
  @media (max-width: $sm) {
    display: none;
  }
}

.show-at-sm{
  display: none;

  @media (max-width: $sm) {
    display: block;
  }
}
