@import "../styles/app/colors.scss";
@import "../styles/app/breakpoints.scss";

.whyus{

  &-container{
    position: relative;

    &-title{
      position: absolute;
      z-index: 1;
      top: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 32px;
      text-align: center; 
      color: $light-cream;
      background-color: $dark-grey-blue;
      padding: 100px 350px 317px 350px;
      border-radius: 20px;
      
      @media (max-width: $xlg) {
        padding: 56px 200px 368px 200px;
      }
      
      @media (max-width: $lg) {
        padding: 64px 80px 368px 80px;
      }
      
      @media (max-width: $sm) {
        border-radius: 10px;
        padding: 56px 30px 661px 30px;
      }
    }
  
    &-cards{
      position: relative;
      z-index: 2;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 85px;
      padding-top: 350px;

      @media (max-width: $xlg) {
        padding: 0 57px;
        padding-top: 270px;
      }
    
      @media (max-width: $lg) {
        flex-direction: column;
        justify-content: flex-start;
        gap: 30px; 
      }

      @media (max-width: $md) {
        align-items: center;
        gap: 30px;
      }

      @media (max-width: $sm) {
        padding: 0;
        padding: 0 24px;
        padding-top: 370px;
        align-items: center;
        gap: 30px;
      }

      .infocard{
        background-color: $dark-cyan;
        padding: 48px 48px 48px 48px;
        border-radius: 8px;
        min-width: 30%;
        gap: 0;

        p{
          color: $light-cream;
        }

        img{
          max-width: 30%;
        }

        @media (max-width: $xlg) {
          padding: 27px 24px 27px 24px;
          border-radius: 8px;
        }
        
        @media (max-width: $lg) {
          padding: 27px 60px 27px 24px;
          align-items: center;
          justify-content: space-between;
        }

        @media (max-width: $sm) {
          padding: 27px 24px 27px 24px;
          width: 100%;
        }
      }
    }
  }
}
