@import "../styles/app/colors.scss";
@import "../styles/app/breakpoints.scss";

.collection-container{

  &-cards{
    display: flex;
    flex-direction: row;
    padding: 0 5.32rem;
    gap: 1.88rem;
  
    @media (max-width: $lg) {
      flex-direction: column;
    }
  }
}
